<div class="section-container auto" data-section>
    <section>
    <p class="title" data-section-title><a href="#panel1">List</a></p>
    <div class="content" data-section-content>
        <div id="deck-description">

        </div>
        <div id="deck-list" class="panel">

        </div>
    </div>
    </section>
    <section>
    <p class="title" data-section-title><a href="#panel2">View</a></p>
    <div class="content" data-section-content>
        <div id="deck-preview"> </div>
        <div class="clear"> </div>
    </div>
    </section>
</div>
<div class="large-9 columns large-offset-5">
    <img id="preview"/>
</div>
