<h2>All Users</h2>
<table id="user-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to "Decks", user_path(user), class: "button small" %></td>
        </tr>
    <% end %>
</table>
