<h2>All Users</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <th><%= user.name %></th>
            <th><%= user.email %></th>
            <th><%= link_to "Decks", user_path(user), class: "button small" %></th>
        </tr>
    <% end %>
</table>
