@import "foundation";

$errorRed: #CC0000;

.field_with_errors {
    @extend .error;
}

#error_explanation {
    color: red;
    ul {
        list-style: none;
        margin: 0 0 18px 0;
    }
}

.alert-error {
    @include alert($errorRed);
}

.deck-input {
    max-width: 100%;
    height: 15em;
}
