@import "foundation";

$errorRed: #CC0000;

.field_with_errors {
    @extend .error;
}

#error_explanation {
    color: red;
    ul {
        list-style: none;
        margin: 0 0 18px 0;
    }
}

.alert-error {
    @include alert($errorRed);
}

#deck-input {
    max-width: 100%;
    height: 30em;
    display: none;
}

#preview {
    /*float: right;*/
    position: absolute;
}

.card-box {
    float: left;
    display: block;
    position: relative;
    padding: 1px;
    margin: 10px;
    height: 320px;
    min-width: 200px;
}

#generate-form {
    clear: both;
}

.deck-image {
    position: absolute;
}

.clear {
    clear: both;
}

#deck-div {
    width: 100%;
    height: 30em;
    border: 1px solid #DDD;
    outline: 0px solid transparent;
    @extend textarea;
    padding: 5px;
    cursor: text;
    overflow-y: auto;
    overflow-x: hidden;
}

#deck-list {
    padding-bottom: 20px;
}
