.pagination {
    font-size: 80%;
    margin: 10px;
}

.pagination a {
    text-decoration: none;
    border: solid 1px #DDD;
    color: black;
}

.pagination a, .pagination span {
    padding: 0.5em 0.5em;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width:1em;
    text-align:center;
}

.pagination .current {
    background: #DEDEDE;
    border: solid 1px #DDD;
}

.pagination .current.prev, .pagination .current.next{
    color:#999;
    border-color:#999;
    background:#fff;
}
