<div class="section-container auto" data-section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Add Cards</a></p>
    <div class="content" data-section-content>
        <h2>Card Search</h2>
        <%= form_for :card, url: query_card_path, html: { id: "search-form" } do |f| %>
            <%= f.text_field :name %>
        <% end %>
        <table id="list-cards"> </table>
        <div class="large-8 large-offset-5 columns">
            <img id="preview"/>
        </div>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel1">View Deck</a></p>
    <div class="content" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
</div>
