$('#deck-description').html("");
$('#deck-description').append('<h3> Description: <%= @deck.description %> </h3>');
$('#deck-list').html("");
$('#deck-list').append('<%= j render("deck_list") %>');
$(".match").mouseenter(function(e) {
    displayCard($(this).prop("id"), e);
}).mouseleave(function() {
    $('#preview').fadeOut(0);
});
